// Site dimensions
$wCalendarFirstColumnWidth: 80px;
$wCalendarColumnWidth: 50px;
$hCalendarRowHeight: 50px;

// Site colours
$cKey1: #ffffff;
$cKey2: #f6f7f8;
$cKey3: #dadbdc;

$cBorder: $cKey3;
$cBodyBg: $cKey2;
$cCalendarBg: $cKey1;